.parentContainer {
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}
.personContainer {
    display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.personContainer .personItem {
    text-align: center;
    flex: 0 0 33.333333%;
    margin-bottom: 20px;
}

.personItem img{
        height:140px;
        width: 130px;
}